body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Aria, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  ul {
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
    background: #dfdfdf;
    padding: 10px;
    margin-bottom: 10px;
  }
  
 
  ul li .edit {
    display: none;   /*标签ul 标签li 下具有 edit class的元素都不显示*/
  }
  
  /*通过向li标签加入edit class能控制其下级标签的显示与否*/
  ul li.edit .edit {
    display: initial; /*标签ul 具有edit class的li标签 下具有 edit class的元素都显示*/
  }
  
  ul li.edit .noedit {
    display: none; /*标签ul 具有edit class的li标签 下具有 noedit class的元素都不显示*/
  }